@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Scrabble</PageTitle>

<div>
    <label>Valid State? </label>
    <span>@(IsBoardValid ? "Yes" : "No")</span>
</div>
<div>
    <label>Player</label>
    <span>@(currentPlayer == 0 ? "One" : "Two")</span>
</div>

<button @onclick="StartGame">Start New Game</button>
<button @onclick="SwitchPlayer">Switch Player View</button>

<BoardRack @board="aBoard" @rack="aRack"></BoardRack>
@* 
<ScrabbleBoard board="currentBoard" OnSquareClickedCallback="HandleSquareClicked" />
<ScrabbleBoard board="currentBoard" OnSquareClickedCallback ="HandleSquareClicked"/>
<ScrabbleMove OnMoveSubmitted="HandleMoveSubmitted" />
<BoardTileRack></BoardTileRack> 
*@

@code {
    private static Lexicon lexicon = new Lexicon();

    private Board aBoard;
    private Rack aRack;

    private Move? currentMove;

    private int currentPlayer = 0;

    private bool IsBoardValid = true;

    protected override void OnInitialized()
    {

        aBoard = new Board((s) => true);
        var tiles = new List<TilePlacement>
            {
                new(new Coord(R._8, C.H), new Tile('B')),
                new(new Coord(R._8, C.I), new Tile('A')),
                new(new Coord(R._8, C.J), new Tile('L')),
                new(new Coord(R._8, C.K), new Tile('L'))
            };
        aBoard.MakeMove(MoveFactory.CreateMove(tiles));

        aRack = new(); 
        var initialTiles = new List<Tile> { new('X'), new('Y') };
        aRack = aRack.AddTiles(initialTiles);
    }

    private void HandleMoveSubmitted(ScrabbleMoveModel move)
    {
        var startFrom = new Coord((R)move.StartRow, (C)move.StartColumn);
        var tiles = move.Letters.Select(letter => new Tile(letter)).ToList();
        currentMove = MoveFactory.CreateMove(startFrom, tiles, move.IsHorizontal);

        //IsBoardValid = currentBoard.IsMoveValid()

        var nextBoard = aBoard.MakeMove(currentMove);
        aBoard = nextBoard;

        StateHasChanged();
    }

    private void HandleSquareClicked(Coord coord)
    {
        // Handle the square click event here
        Console.WriteLine($"Square at Row: {coord.RVal} Col:{coord.CVal} clicked.");
    }

    private void StartGame()
    {
        Console.WriteLine("Start Game");
    }
    private void SwitchPlayer()
    {
        //if (currentBoard == 0) currentBoard = 1 else currentBoard = 0;
    }

}
