@using Scrabble.WASM.Client.Components
@using Scrabble.WASM.Client.Models
@using Scrabble.Domain

@page "/"

<PageTitle></PageTitle>


<div>
    <label>Valid State? </label>
    <span>@(IsBoardValid ? "Yes" : "No")</span>
</div>

<ScrabbleBoard board="currentBoard" OnSquareClickedCallback ="HandleSquareClicked"/>

<ScrabbleMove OnMoveSubmitted="HandleMoveSubmitted" />

<BoardTileRack></BoardTileRack>

@code {
    private static Lexicon lexicon = new Lexicon();

    public required Board currentBoard;

    private Move? currentMove;

    private bool IsBoardValid = true;

    protected override void OnInitialized()
    {
        currentBoard = new Board(lexicon.IsWordValid);
    }

    private void HandleMoveSubmitted(ScrabbleMoveModel move)
    {
        var startFrom = new Coord((R)move.StartRow, (C)move.StartColumn);
        var tiles = move.Letters.Select(letter => new Tile(letter)).ToList();
        currentMove = MoveFactory.CreateMove(startFrom, tiles, move.IsHorizontal);

        //IsBoardValid = currentBoard.IsMoveValid()

        var nextBoard = currentBoard.MakeMove(currentMove);
        currentBoard = nextBoard;

        StateHasChanged();
    }

    private void HandleSquareClicked(Coord coord)
    {
        // Handle the square click event here
        Console.WriteLine($"Square at Row: {coord.RVal} Col:{coord.CVal} clicked.");
    }

}
