@page "/scrabbleboard"
@using Scrabble.Domain

<h3>Scrabble Board</h3>

<table class="scrabble-board">
    @for (int row = 0; row < 15; row++)
    {
        <tr>
            @for (int col = 0; col < 15; col++)
            {
                var square = board?.squares?[row, col];
                <td class="@GetTileClass(square?.SquareType ?? SquareType.reg)">
                    @(square?.IsOccupied == true  ? square.Tile.Letter.ToString() : ".")
                </td>
            }
        </tr>
    }
</table>


@code {

    private static Lexicon lexicon = new Lexicon();    
    private Board board = new Board(lexicon.IsWordValid, new Coord(R._8, C.G),
                            "cAr".LettersToTiles(),
                            isHorizontal:true);

    static string GetTileClass(SquareType st) => st switch
    {
        SquareType.dl       => "tile double-letter",
        SquareType.dw       => "tile double-word",
        SquareType.tl       => "tile triple-letter",
        SquareType.tw       => "tile triple-word",
        SquareType.start    => "tile start",
        _                   => "tile"
    };
}