<MudCard Class="scrabble-tile">
    <MudCardContent Class="scrabble-tile-content">
        <div class="tile-letter">@Letter</div>
        <div class="tile-score">@Score</div>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public char Letter { get; set; }
    [Parameter] public int Score { get; set; }
}
