.tile {
    background-color: #f4f4f4;
}

    .tile .double-word {
        background-color: #ffcccc; /* Light red */
    }

    .tile .triple-word {
        background-color: #ff9999; /* Darker red */
    }

    .tile .double-letter {
        background-color: #ccccff; /* Light blue */
    }

    .tile .triple-letter {
        background-color: #9999ff; /* Darker blue */
    }

    .tile .start {
        background-color: #ffffcc; /* Light yellow */
    }
