
.square-dl {
    background-color: #ccccff;
}

.square-dw {
    background-color: #ffcccc;
}

.square-tl {
    background-color: #9999ff;
}

.square-tw {
    background-color: #ff9999;
}

.square-start {
    background-color: #ffffcc;
}

.square-default {
    background-color: #f4f4f4;
}
