<div class="tile-rack">
    <h3>Tile Rack</h3>
    <div class="d-flex">
        @for (int s = 0; s < Domain.Rack.Capacity; s++)
        {
            <RackSquare squareId="@ToId(s)"></RackSquare>
        }
    </div>
</div>

@code {
    [Parameter] public Rack rack { get; set; }
    [Parameter] public List<DropSquare> tiles { get; set; }
    [Parameter] public Func<int, string> ToId { get; set; }

    protected override void OnInitialized()
    {
        for (var s = 0; s < rack.TileCount; s++)
        {
            var tile = rack.Tiles[s];
            tiles.Add(new DropSquare()
                {
                    Name = tile.Letter,
                    Identifier = $"{ToId(s)}",
                    Value = tile.Value,
                    IsLocked = false
                });
        }
    
    }


}
